<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Mycel</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.meio.mask.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div id="header">
        <a href="/"><img alt="logo" class="logo" src="/img/logo.png" /></a>
        <div id="header-buttons">
          <ul>
            <li class="header">
              <a href="/branches">FILIALER</a>
            </li>
            <li class="header">
              <a href="/users">BRUKERE</a>
            </li>
            <li class="header">
              <a href="/statistics">STATISTIKK</a>
            </li>
          </ul>
        </div>
      </div>
      <div id="debug"></div>
      <div class="main">
        <h2>Hva er dette?</h2>
        <p>Mycel er et system under utvikling laget for å administrere Deichmans publikumsmaskiner.</p>
        <p>Denne siden er hovedsaklig for superbruker (IT-admin); klikk deg inn på filial- eller avdelingsnivå for å gjøre endringer og se systemet i aksjon.</p>
        <p>Hilsen Petter:)</p>
        <h2>Globale innstillinger</h2>
        <p>Følgende innstillinger vil gjelde på alle klienter, med mindre de overstyres på filial- eller avdelingsnivå:</p>
        <pre>ingen tilgang</pre>
      </div>
      <div id="footer">
        <span>Versjon&nbsp;</span><a href="https://github.com/digibib/mycel">Mycel 0.0.1-pre</a><span>.&nbsp;Send
        tilbakemeldinger til&nbsp;</span>
        <a href="mailto:petter.goksoyr.asen@kul.oslo.kommune.no"> Petter Goksøyr Åsen</a>
      </div>
      <script src="/js/common.js"></script>
    </div>
  </body>
</html>