div class="main"
  h3 Logg inn
  pre id="login_error" style="display:none"
  div class="divdot inputf"
    table class="genform"
      tr
        td  brukernavn
        td: input[type="text" id="username"]
      tr
        td  passord
        td: input[type="password" id="password"]
      tr
        td: button[type='button' id="login"]  = "Log inn"

javascript:
  $(document).ready(function () {

    $('input#password').on('keydown', function(event) {
      var keycode = (event.keyCode ? event.keyCode : (event.which ? event.which : event.charCode));
      if (keycode == 13) {
        $('button#login').click();
      }
    });

    $('button#login').on('click', function () {
      var username = $('input#username').val();
      var password = $('input#password').val();

      request = $.ajax({
        url: "/api/admins/login",
        type: "POST",
        cache: false,
        data: { username: username, password: password },
        dataType: "json"
      });

      request.done(function (data) {
        $.get('/setadmin?admin='+username, function(data) {
          if ( window.location.pathname == "/loggout") {
            window.location.replace("/");
          } else {
            window.location.reload();
          }
        });
      });

      request.fail(function(jqXHR, textStatus, errorThrown) {
        $('pre#login_error').html(jqXHR.responseText).show();
      });
    });

  });