.taskpanes input[type="radio"], .taskpanes input[type="checkbox"] {
    width:20px;
}

.taskpanes .fw {
  display: inline-block;
  width: 100px;
  padding-right: 0px;
}

.taskpanes input[type='radio'] {
  padding-left: 5px;
}

.taskpanes input, textarea {
    width:500px;
}

.taskpanes input.halfwidth {
    width:140px;
}


.taskpanes label.halfwidth {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}


.taskpanes select + select {
    margin-left: 5px;
}

.taskpanes label + select {
    margin-left: 0px;
}

.taskpanes button.action_button {
   margin-left: 5px;
   float: right;
}

#profiles label {
  display: inline-block;
  width: 120px;
}


#profiles input, #profiles textarea {
  width: 500px;
}

ul.tasktabs { padding:0; display: block; font-size:0.8em; position:relative; top:1px;}
ul.tasktabs li { display:block; float:left; background:#ccc; padding:7px 10px;
			 border-left:1px solid #ccc; border-top:1px solid #ccc; border-right:1px solid #ccc	;}
ul.tasktabs li:hover { cursor: pointer; color:#fff; background: #888;}
ul.tasktabs li.active { cursor:default; background:#fff; color:#000;}
div.taskpanes { width:90%; height:770px; border: 1px solid #ccc; padding:10px; clear:both;}
