*.gem
*.rbc
.bundle
.config
db/seed_REAL.yml
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
views/stats*
tmp
*.db
*.csv

# YARD artifacts
.yardoc
_yardoc
doc/
logs/*.log