40 23 * * * /usr/local/bin/bundle exec rake log2sql > /proc/1/fd/1 2>/proc/1/fd/2
50 23 * * * /usr/local/bin/bundle exec rake delete_users --silent > /proc/1/fd/1 2>/proc/1/fd/2
50 23 * * * /usr/local/bin/bundle exec rake log_hours --silent > /proc/1/fd/1 2>/proc/1/fd/2
